/* Color palette 1
	Background: #181A1B
	Text: whitesmoke
	Accent color: #038857

	Color palette 2
	Background: #0d0d0d
	Text: whitesmoke
	Accent color: rgb(0, 0, 80)
*/


* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #181A1B;
	/* text-align: center; */
}

h1 {
	font-size: 32px;
	color: whitesmoke;
	margin-left: 16px;
}

.favicon {
	width: 120px;
	height: 120px;
	/* float: left; */
	vertical-align: middle;
	/* margin: 0 16px 0 0;
	padding: 0; */
}

label {
	color: whitesmoke;
}

.sliderNumber {
	color: whitesmoke;
}

p {
	color: whitesmoke;
	/* font-size: 20px;
	text-decoration: underline;
	font-family: 'Times New Roman', Times, serif;
	text-align: center; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.txt {
	white-space: pre-wrap;
	color: whitesmoke;
}

/* Style the top navigation bar */
.navbar {
	display: flex;
	background-color: #038857;
	border-bottom: 2px solid whitesmoke;
	font-weight: 400;
}
  
/* Style the navigation bar links */
.navbar a {
	color: whitesmoke;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	border-right: 2px solid whitesmoke;
}
  
/* Change color on hover */
.navbar a:hover {
	background-color: whitesmoke;
	color: #181A1B;
}

table {
	width: 240px;
	border-collapse: collapse;
	/* border-spacing: 0; */
	border: 1px solid;
	border-color: whitesmoke;
}
td {
	/* width: 25%; */
	position: relative;
	/* background: slategrey; */
	text-align: center;
	vertical-align: middle;
	/* border-width: 0; */
	padding: 0;
	background-color: #181A1B;
	
}

.flex-container1 {
	display: flex;
	flex-wrap: wrap;
}
.flex-item1 {
	margin: 16px 16px;
}
.flex-container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.flex-item2 {
	/* margin: 16px 16px; */
	/* align-self: center; */
	text-align: center;

}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
	.flex-container {
	  flex-direction: column;
	}
  }
.inputBox {
	border-width: 1px;
	border-style: solid;
	border-color: whitesmoke;
	width: 60px;
	height: 60px;
	text-align: center;
	color: whitesmoke;
	font-size: 28px;
	background-color: #181A1B;
}
.inputBox:hover {
	background-color: #038857;
}
.outputBox {
	border-width: 2px;
	border-style: solid;
	border-color: whitesmoke;
	color: whitesmoke;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 28px;
}

.parameters-box {
	border: 2px solid whitesmoke;
	/* border-radius: 4px; */
	padding: 8px;
}
/* input[type='range'] {
    vertical-align: middle;
	width: 100px;
	-webkit-appearance: none;
	border: none;
	margin: 0;
	padding: 0;
} */
input[type=range] {
	/* height: 25px; */
	vertical-align: middle;
	-webkit-appearance: none;
	width: 100px;
	background-color: #181A1B;
	border: none;
	padding: 0;
	margin: 0;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: none;
	background: #038857;
	border-radius: 1px;
	border: none;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	border: 1px solid #038857;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: whitesmoke;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #038857;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: none;
	background: #038857;
	border-radius: 1px;
	border: none;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: 1px solid #038857;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: whitesmoke;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #038857;
	border: 0px solid #181A1B;
	border-radius: 2px;
	box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
	background: #2497E3;
	border: 0px solid #181A1B;
	border-radius: 2px;
	box-shadow: none;
  }
  input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: none;
	border: 1px solid #038857;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: whitesmoke;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #038857;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #038857;
  }
  

.target {
	width: 110px;
	height: auto;
	text-align: center;
	font-size: 32px;
	color: whitesmoke;
	vertical-align: middle;
	border: 1px solid whitesmoke;
	border-radius: 4px;
	background-color: #181A1B;
}
.startButton {
	width: 100%;
	height: auto;
	vertical-align: middle;
	border: 2px solid whitesmoke;
	border-radius: 6px;
	background-color: #038857;
	/* font-weight: bold; */
	font-size: 20px;
	text-align: center;
	color: whitesmoke;
	cursor: pointer;
	padding: 2px 12px 6px 12px;
}
/* .startButton {
	display: block;
	width: 100%;
	border: none;
	background-color: #038857;
	color: whitesmoke;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
} */
.startButton:hover {
	background-color: whitesmoke;
	color: #181A1B;
}
